# Default ignored files
/../../Tic-Tac-Toe /.idea/shelf/
/../../Tic-Tac-Toe /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Tic-Tac-Toe /.idea/httpRequests/
# Datasource local storage ignored files
/../../Tic-Tac-Toe /.idea/dataSources/
/../../Tic-Tac-Toe /.idea/dataSources.local.xml
